 {{partial 'navbar'}}

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12 ">
            <div class="card">
                <div class="card-image">
                    <img style="height: 150px;" src="../img/fundo_form.png">
                </div>

                <div class="card-content">

                    <span class="card-title text-darken-4"><h3> Novo Ticket </h3></span>

                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel ">

                                <h3>Requisitante</h3>

                                <div class="row">
                                    <div class="input-field col s12 m12 l6">
                                        {{input type="text" value=Cliente}}
                                        <label>Cliente</label>
                                    </div>
                                    <div class="input-field col s12 m12 l6">
                                        {{input type="text" value=Solicitante}}
                                        <label>Solicitante</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        {{input type="text" value=Morada}}
                                        <label>Morada</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12 m12 l4">
                                        {{input type="text" value=Localidade}}
                                        <label>Localidade</label>
                                    </div>
                                    <div class="input-field col s12 m12 l4">
                                        {{input type="text" value=Telemovel}}
                                        <label>Telemovel/Telefone</label>
                                    </div>
                                    <div class="input-field col s12 m12 l4">
                                        {{input type="text" value=NIF}}
                                        <label>NIF</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input col s12 m12 l4">
                                        {{md-input-date label='Data do pedido' value=dateValue}}
                                    </div>
                                    <div class="input-field col s12 m12 l4">
                                        <i class="material-icons prefix">access_time</i> {{input type="time" value=hora}}
                                    </div>
                                    <div class="input-field col s12 m12 l4">
                                        {{input label='Recebido por' type="text" value=Recebido_por}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel ">

                                <div class="row">
                                    <h3>Descrição</h3>



                                    <div class="col s12 m12 l2">
                                        {{md-check name="Análise" checked=Análise}}
                                    </div>
                                    <div class="col s12 m12 l2">
                                        {{md-check name="Orçamento" checked=Orçamento}}
                                    </div>
                                    <div class="col s12 m12 l2">
                                        {{md-check name="Instalação" checked=Instalação}}
                                    </div>
                                    <div class="col s12 m12 l2">
                                        {{md-check name="Manutenção" checked=Manutenção}}
                                    </div>
                                    <div class="col s12 m12 l2">
                                        {{md-check name="Anomalia Software" checked=Software}}
                                    </div>
                                    <div class="col s12 m12 l2">
                                        {{md-check name="Anomalia Hardware" checked=Hardware}}
                                    </div>
                                    <div class="col s12 m12 l6">
                                        {{md-check name="Formação" checked=Formação}}
                                    </div>

                                    <div class="input-field col s12 ">
                                        <textarea id="descrição" class="materialize-textarea"></textarea>
                                        <label for="descrição">Introduza uma breve descrição</label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-action">

                    <div class="row">

                        {{#link-to 'tikets' class="btn waves-effect waves-light cyan darken-4" tagName="button"}}Voltar{{/link-to}}

                        <a class="btn-floating btn-large waves-effect waves-light cyan darken-4 right" {{action "limpar"}}><i class="material-icons">clear_all</i></a>

                        <button class="btn waves-effect waves-light cyan darken-4" type="submit" {{action "add"}}>Submit
                      <i class="material-icons right">send</i>
                       </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>