 {{partial 'navbar'}}

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12 ">
            <div class="card">
                <div class="card-image">
                    <img style="height: 150px;" src="../img/fundo_form.png">
                </div>

                <div class="card-content">
                    <img style="width: 70px; position: absolute; top: 110px; z-index: 1;" src=../img/another-users.png alt="" class="circle responsive-img activator card-profile-image">

                    <span class="card-title text-darken-4"><h3> Adicionar novo cliente:</h3></span> {{#if erro}}
                    <div class="row">
                        <div class="col s12 ">
                            <div class="card-panel yellow">
                                <span> {{erro}} </span>
                            </div>
                        </div>
                    </div>
                    {{/if}}

                    <div class="row">
                        <div class="input-field col s12 l4">
                            {{input type="text" value=Common_Name}}
                            <label>Nome comum</label>
                        </div>
                        <div class="input-field col s12 l4">
                            {{input type="text" class="validate" value=Company_Name}}
                            <label>Nome fiscal</label>
                        </div>
                        <div class="input-field col s12 l4">
                            {{input type="text" class="validate" value=id}}
                            <label>NIF</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 l3">
                            {{input type="text" class="validate" value=City}}
                            <label>Cidade</label>
                        </div>
                        <div class="input-field col s12 l3">
                            {{input type="text" class="validate" value=Address}}
                            <label>Morada</label>
                        </div>
                        <div class="input-field col s12 l3">
                            {{input type="text" class="validate" value=Country}}
                            <label>Pais</label>
                        </div>
                        <div class="input-field col s12 l3">
                            {{input type="text" class="validate" value=Zip}}
                            <label>ZIP</label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12 l6">
                            {{input type="text" class="validate" value=Mobile}}
                            <label>Telemovel</label>
                        </div>
                        <div class="input-field col s12 l6">
                            {{input type="text" class="validate" value=Home_Phone}}
                            <label>Telefone</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            {{input type="text" class="validate" value=Home_Email}}
                            <label>Email</label>
                        </div>
                    </div>



                </div>

                <div class="card-action">

                    <div class="row">


                        <div class="col s12 m6 l6">

                            <button class="btn waves-effect waves-light cyan darken-4 col s12 m6 l5" type="submit" {{action "editar"}}>Submit
                      <i class="material-icons right">send</i>
                       </button>
                        </div>

                        <div class="col s12 m6 l6">
                            <a class="btn-floating btn-large waves-effect waves-light cyan darken-4 right hide-on-small-only" {{action "limpar"}}><i class="material-icons">clear_all</i></a>
                        </div>

                    </div>

                    <div class="row">
                        <button class="btn waves-effect waves-light cyan darken-4 col s12" {{action "voltar"}}>Voltar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>