<div class="container">

    <div class="row">
        <div class="col s12 m12 l12 ">
            <div class="card">
                <div class="card-image">
                    <img style="height: 150px;" src="../img/fundo_form.png">
                </div>
                <div class="card-content">
                    <img style="width: 70px; position: absolute; top: 110px; z-index: 1;" src=https://lh3.googleusercontent.com/-Y5Z33jtNf0k/AAAAAAAAAAI/AAAAAAAAAAA/j9WJUaU8k9M/W96-H96/photo.jpg?sz=64 alt="" class="circle responsive-img activator card-profile-image">


                    <span class="card-title text-darken-4"><h3> Utilizador : {{model.Name}} </h3></span>

                    <div class="row">
                        <div class="col s12 m8 l8">

                            <table>

                                <tbody>
                                    <tr>
                                        <td>ID:</td>
                                        <td>{{ model.id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nome:</td>
                                        <td>{{model.Name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nivel:</td>
                                        <td>{{model.Level}}</td>
                                    </tr>


                                </tbody>
                            </table>

                        </div>

                        <div class="col s12 m4 l4 wrapper">

                            <div class="row">
                                <a class="col s12 waves-effect waves-light btn" {{action "abilitações"}}><i class="material-icons right">fingerprint</i>Ver abilitações</a>
                            </div>
                            <div class="row">
                                <a class="col s12 waves-effect waves-light btn"><i class="material-icons right">history</i>Historico de pedidios de assistencia</a>
                            </div>
                            <div class="row">
                                {{#link-to 'users' class="col s12 waves-effect waves-light yellow darken-2 black-text btn" tagName="a"}}<i class="material-icons right">view_list</i>Voltar a lista de utilizadores{{/link-to}}
                            </div>

                        </div>

                    </div>


                </div>
                <div class="card-action">

                    <div class="row">

                        <a class="waves-effect waves-light btn red col s12 l3" {{action "toggleModal"}}><i class="material-icons right">delete forever</i>Apagar a conta</a>

                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>


{{#if abilitações}} {{#md-modal close='abilitações' class="test-modal"}}

<div class="modal-content">
    {{#if ver}}
    
    {{partial 'ability-users'}}
    
    {{else}}
    
    <div class="row">
        <div class="col s6" >
         <h5 class="center"> Nome e outros dados pessoais: </h5>
         
         <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i> 
                            
                            {{input  type="text" value=model.Name}}
                            <label class="active">Nome</label>
                        </div>
        
        
        <div class="row">
  <div class="col s12">
      
      
   <div class="row">
  <div class="col s12">
    <p>{{md-switch checked=model.Supervisor
          onLabel="Sim"
          offLabel="Não"
          name="Supervisor"}}</p>
  </div>
</div>

  </div>
  
  {{log model.Level}}
  
  <div class="col s12">
      <p>Nivel:</p>
   {{#md-radios
   class="with-gap"
    selection=model.Level
    optionValuePath='id'
    optionLabelPath='text'}}
    <p>{{md-radio value='1' name="1"}}</p>
      <p>{{md-radio value='2' name="2"}}</p>
{{/md-radios}} 
  </div>
</div>
        
        
        
         </div>
         
<div class="col s6" >
<h5 class="center"> Abilidades: </h5>
<div class="col s6" >
{{md-check name="Analise" checked=model.Ability.Analise}}
{{md-check name="Orçamento" checked=model.Ability.Orçamento}}
{{md-check name="Instalação" checked=model.Ability.Instalação}}
{{md-check name="Manutenção" checked=model.Ability.Manutenção}}
{{md-check name="Software" checked=Software}}
{{md-check name="Hardware" checked=model.Ability.Hardware}}
{{md-check name="Formação" checked=model.Ability.Formação}}
</div>


{{#if Software}}

      <label class="control-label">Que tipo de software ?</label> <br>
      
{{md-check name="icg" checked=model.Ability.software.ICG}}
{{md-check name="primavera" checked=model.Ability.software.Primavera}}
{{md-check name="sage" checked=model.Ability.software.SAGE}}
{{md-check name="Outro" checked=Outro}}

 {{/if}}

{{#if Outro}}

{{input type="text" class="form-control" value=outro placeholder="Insira aqui o outro tipo de software"}} 

{{/if}}
       
       
</div>
  </div>
     
{{/if}}    
    
</div>

<div class="modal-footer">

{{#if ver}}

    <a class="modal-action
                modal-close
                waves-effect
                waves-green
                btn-flat
                agree-button" {{action 'editar'}}>
        Editar
      </a>
      {{else}}
       <a class="modal-action
                modal-close
                waves-effect
                waves-green
                btn-flat
                agree-button" {{action 'salvar_abilitacoes'}}>
        Salvar
      </a>
      {{/if}}
      
      

    <a class="modal-action
                modal-close
                waves-effect
                waves-green
                btn-flat
                cancel-button" {{action 'abilitações'}}>
        Cancel
      </a>

</div>
{{/md-modal}} {{/if}} {{#if isModalShown}} {{#md-modal close='toggleModal' class="test-modal"}} {{!-- The body of the modal --}}
<div class="modal-content">
    <h4>Confirmação da eliminação da conta</h4>

    <div class="row">
        <div class="col s12">
            <div class="card-panel yellow">
                <center>
                    <span class="black-text">Caso queira mesmo apagar insira a sua password em baixo !!!
          </span> </center>
            </div>
        </div>
    </div>
    <div class="input-field col s12">
        {{input type="password" value=password class="validate"}}
        <label for="password">Password</label>
    </div>

</div>

<div class="modal-footer">

    {{!-- Modal's Agree Button --}}
    <a class="modal-action
                modal-close
                waves-effect
                waves-green
                btn-flat
                agree-button" {{action "apagar"}}>
        Apagar
      </a> {{!-- Modal's Cancel Button --}}
    <a class="modal-action
                modal-close
                waves-effect
                waves-green
                btn-flat
                cancel-button" {{action 'toggleModal'}}>
        Cancel
      </a>

</div> {{/md-modal}} {{/if}}