 {{partial 'navbar'}}

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12 ">
            <div class="card">
                <div class="card-image">
                    <img style="height: 150px;" src="../img/fundo_form.png">
                </div>

                <div class="card-content">
                    <img style="width: 70px; position: absolute; top: 110px; z-index: 1;" src=../img/another-users.png alt="" class="circle responsive-img activator card-profile-image">

                    <span class="card-title text-darken-4"><h3> Alteração no cliente: {{model.Company_Name}}</h3></span> {{#if erro}}
                    <div class="row">
                        <div class="col s12 ">
                            <div class="card-panel yellow">
                                <span> {{erro}} </span>
                            </div>
                        </div>
                    </div>
                    {{/if}}

                    <div class="row">
                        <div class="input-field col s12 l4">
                            {{input type="text" value=model.Common_Name}}
                            <label class="active">Nome comum</label>
                        </div>
                        <div class="input-field col s12 l4">
                            {{input type="text" class="validate" value=model.Company_Name}}
                            <label class="active">Nome fiscal</label>
                        </div>
                        {{#if nif}}
                        <div class="input-field col s10 l3">
                            {{input type="text" class="validate" value=id}}
                            <label class="active">NIF</label>
                        </div>
                        <div class="input-field col s1">
                            <a class="btn-floating" {{action "nif_back"}}><i class="material-icons">settings_backup_restore</i></a>
                        </div>
                        {{else}}
                        <div class="input-field col s10 l3">
                            <input disabled value={{model.id}} id="first_name2" type="text">
                            <label class="active">NIF</label>
                        </div>
                        <div class="input-field col s1">
                            <a class="btn-floating" {{action "nif"}}><i class="material-icons">mode_edit</i></a>
                        </div>
                        {{/if}}
                    </div>

                    <div class="row">
                        <div class="input-field col s12 l3">
                            {{input type="text" class="validate" value=model.City}}
                            <label class="active">Cidade</label>
                        </div>
                        <div class="input-field col s12 l3">
                            {{input type="text" class="validate" value=model.Address}}
                            <label class="active">Morada</label>
                        </div>
                        <div class="input-field col s12 l3">
                            {{input type="text" class="validate" value=model.Country}}
                            <label class="active">Pais</label>
                        </div>
                        <div class="input-field col s12 l3">
                            {{input type="text" class="validate" value=model.Zip}}
                            <label class="active">ZIP</label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12 l6">
                            {{input type="text" class="validate" value=model.Mobile}}
                            <label class="active">Telemovel</label>
                        </div>
                        <div class="input-field col s12 m12 l6">
                            {{input type="text" class="validate" value=model.Home_Phone}}
                            <label class="active">Telefone</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            {{input type="text" class="validate" value=model.Home_Email}}
                            <label class="active">Email</label>
                        </div>
                    </div>
                </div>

                <div class="card-action">

                    <div class="row">
                        {{#link-to 'profile-customers' model.id class="btn waves-effect waves-light cyan darken-4" tagName="button"}}<i class="material-icons left">arrow_back</i>Voltar{{/link-to}}
                        <a class="btn-floating btn-large waves-effect waves-light cyan darken-4 right" {{action "editar"}}><i class="material-icons">send</i></a>
                        <button class="btn waves-effect waves-light cyan darken-4" onclick="Materialize.toast('Todos os campos foram limpos !', 4000)" {{action "limpar"}}>Limpar campos
                      <i class="material-icons right">clear_all</i>
                       </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>