 {{partial 'navbar'}} {{log nome}}

<div class="container">
    <div class="row">
        <div class="col s12 l6">
            <div class="card-panel">
                <h4 class="center"> Tickets ativos</h4>
                <div class="row">
                    <div class="col s12">
                        <div class="col s12 l6">


                            <table>
                                <thead>
                                    <tr>
                                        <th class="center">Nivel 1</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Pendente:</td>
                                        <td>{{pendente1}}</td>
                                    </tr>
                                    <tr>
                                        <td>Em progresso:</td>
                                        <td>{{progresso1}}</td>
                                    </tr>
                                    <tr>
                                        <td>Resolvido:</td>
                                        <td>{{Resolvido1}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="col s12 l6">

                            <table>
                                <thead>
                                    <tr>
                                        <th class="center">Nivel 2</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Pendente:</td>
                                        <td>{{pendente2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Escalar n2:</td>
                                        <td>{{escalar}}</td>
                                    </tr>
                                    <tr>
                                        <td>Em progresso:</td>
                                        <td>{{progresso2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Resolvido:</td>
                                        <td>{{Resolvido2}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>




                    </div>
                    <div class="col s12">
                        <br>
                        <div class="col m6 hide-on-small-only">
                            {{#link-to 'tikets' class="waves-effect waves-light btn-flat right" tagName="a"}}<i class="material-icons left">receipt</i>Vizualizar{{/link-to}}
                        </div>
                        <div class="col m6 hide-on-small-only">
                            {{#link-to 'add_tickets' class="waves-effect waves-light btn-flat left" tagName="a"}}<i class="material-icons right">add_circle_outline</i>Novo{{/link-to}}
                        </div>
                        <center>
                            <div class="col s12 hide-on-med-and-up">
                                {{#link-to 'tikets' class="waves-effect waves-light btn-fla" tagName="a"}}<i class="material-icons left">receipt</i>Vizualizar{{/link-to}} {{#link-to 'add_tickets' class="waves-effect waves-light btn-flat" tagName="a"}}
                                <i class="material-icons left">add_circle_outline</i>Novo{{/link-to}}
                            </div>
                        </center>


                    </div>

                </div>
                <br>
                <center>
                    <p class="black-text"> Faça <span class="red-text"> refresh </span> para ver as estatisticas atualizadas </p>
                </center>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="card-panel">
                <h4 class="center">Pesquisar cliente</h4>
                <div class="row">
                    <div class="center">
                        <span class="black-text"> Apenas pode pesquisar através do <span class="red-text"> NIF </span> !!!! </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="col s10">
                            {{md-input label="Insira aqui o NIF" value=pesqui}}
                        </div>
                        <div class="col s2">
                            <br>
                            <a class="waves-effect btn-floating" {{action "limpar" }}><i class="material-icons">close</i></a>
                        </div>
                    </div>
                </div>
                {{#if encontrou}} {{#each model as |customers|}}
                <tr>
                    <th class="center">{{customers.id}}</th>
                    <td>{{customers.Company_Name}}</td>
                    <td> {{#link-to 'profile-customers' customers.id class="btn-floating btn-large waves-effect waves-light right"}}<i class="material-icons">assignment_ind</i>{{/link-to}} </td>
                </tr>
                {{/each}} {{else}}
                <div class="row">
                    <div class="col s12">
                        <th class="left"> Não foi encontrado nenhum cliente com esse nif </th>
                        <td class="right"> {{#link-to 'add-customers' class="waves-effect waves-light btn-flat" tagName="a"}}<i class="material-icons right">add_circle_outline</i>Novo{{/link-to}}</td>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>