 {{partial 'navbar'}}

{{log nome}}

<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card-panel">
                <h4> Tickets ativos:</h4>
                <div class="row">
                    <div class="col s12">
                        <div class="col s6">
                            <h5>Nivel 1:</h5>
                            <p>Pendente: {{pendente1}}</p>
                            <p>Em progresso: {{progresso1}}</p>
                            <p>Resolvido: {{Resolvido1}}</p>

                        </div>

                        <div class="col s6">
                            <h5>Nivel 2:</h5>
                            <p>Pendente:{{pendente2}}</p>
                            <p>Em progresso: {{progresso2}}</p>
                            <p>Escalar n2: {{escalar}}</p>
                            <p>Resolvido: {{Resolvido2}}</p>

                        </div>
                        <div class="col m6 hide-on-small-only">
                            {{#link-to 'tikets' class="waves-effect waves-light btn-flat right" tagName="a"}}<i class="material-icons left">receipt</i>Vizualizar{{/link-to}}
                        </div>
                        <div class="col m6 hide-on-small-only">
                            {{#link-to 'add_tickets' class="waves-effect waves-light btn-flat left" tagName="a"}}<i class="material-icons right">add_circle_outline</i>Novo{{/link-to}}
                        </div>
                        <center>
                            <div class="col s12 hide-on-med-and-up">
                                {{#link-to 'tikets' class="waves-effect waves-light btn-fla" tagName="a"}}<i class="material-icons left">receipt</i>Vizualizar{{/link-to}} {{#link-to 'add_tickets' class="waves-effect waves-light btn-flat" tagName="a"}}
                                <i
                                    class="material-icons left">add_circle_outline</i>Novo{{/link-to}}
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card-panel">
                <h4>Pesquisar cliente:</h4>
                <div class="row">
                    <div class="center">
                        <div class="card-panel yellow center">
                            <span class="black-text"> Apenas pode pesquisar através do <span class="red-text"> NIF </span> !!!! </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="col s10">
                            {{md-input label="Insira aqui o NIF" value=pesqui}}
                        </div>
                        <div class="col s2">
                            <br>
                            <a class="waves-effect btn-floating" {{action "limpar" }}><i class="material-icons">close</i></a>
                        </div>
                    </div>
                </div>
                {{#if encontrou}} {{#each model as |customers|}}
                <tr>
                    <th class="center">{{customers.id}}</th>
                    <td>{{customers.Company_Name}}</td>
                    <td> {{#link-to 'profile-customers' customers.id class="btn-floating btn-large waves-effect waves-light right"}}<i class="material-icons">assignment_ind</i>{{/link-to}} </td>
                </tr>
                {{/each}} {{else}}
                <div class="row">
                    <div class="col s12">
                        <th class="left"> Não foi encontrado nenhum cliente com esse nif </th>
                        <td class="right"> {{#link-to 'add-customers' class="waves-effect waves-light btn-flat" tagName="a"}}<i class="material-icons right">add_circle_outline</i>Novo{{/link-to}}</td>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>