 {{partial 'navbar'}}

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12 ">
            <div class="card">
                <div class="card-image">
                    <img style="height: 150px;" src="../img/fundo_form.png">
                </div>

                <div class="card-content">
                    <img style="width: 70px; position: absolute; top: 110px; z-index: 1;" src=../img/another-users.png alt="" class="circle responsive-img activator card-profile-image">

                    <span class="card-title text-darken-4"><h3> Alteração de email </h3></span>

                    <div class="row">
                        <div class="input-field col s12 m12 l6">
                            {{input id="email" type="email" class="validate" value=inputEmail}}
                            <label for="icon_email">Email</label>
                        </div>
                        <div class="input-field col s12 m12 l6">
                            {{input id="icon_remail" type="email" class="validate" value=REmail}}
                            <label for="icon_remail">Introduza novamente o seu email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{input id="password" type="password" class="validate" value=Password}}
                            <label for="password">Password</label>
                        </div>
                    </div>


                </div>

                <div class="card-action">

                    <div class="row">
                        
                                              
                        <div class="col s12 m6 l6">
                       
                        <button class="btn waves-effect waves-light cyan darken-4 col s12 m6 l5" type="submit" {{action "editar"}}>Submit
                      <i class="material-icons right">send</i>
                       </button>
                        </div>
                       
                       <div class="col s12 m6 l6">
                       <a class="btn-floating btn-large waves-effect waves-light cyan darken-4 right hide-on-small-only" {{action "limpar"}}><i class="material-icons">clear_all</i></a>
                       </div>
                       
                       </div>
                       
                       
                       
                       
                       <div class="row">
                       {{#link-to 'profile' class="btn waves-effect waves-light cyan darken-4 col s12" tagName="button"}}Voltar{{/link-to}}
                       </div>
                       
                    
                </div>
            </div>
        </div>
    </div>
</div>