 {{partial 'navbar'}}


 <div class="panel panel-default">
  <div class="panel-heading">Alteração dos dados</div>
  <div class="panel-body">
 <form class="form-horizontal">
  <fieldset>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        {{input type="email" class="form-control" value=inputEmail placeholder="Insira o seu Email"}}
      </div>
    </div>
    
     <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Insira novamente o seu Email</label>
      <div class="col-lg-10">
        {{input type="email" class="form-control" value=REmail placeholder="Insira o seu Email"}}
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        {{input type="password" class="form-control" value=Password placeholder="Password"}}
      </div>
    </div>
   
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        {{#link-to 'profile' class="btn btn-warning" tagName="button"}}Voltar{{/link-to}}
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primaryk" {{action "editar"}}> Submit </button>
      </div>
    </div>
  </fieldset>
</form>
  </div>
</div>