<div class="container">
    <div class="row">
        <div id="login-page" class=" card">
            <div class="col s12 m6 l6 offset-l3 offset-m3 z-depth-6  card-panel hoverable">
                <form {{action "login" on="submit" }}>
                    <div class="row">
                        <div class="input-field col s12 center">
                            <img src="https://s3-media4.fl.yelpcdn.com/bphoto/BVZUmyvne_ouvGg7uJ09kA/o.jpg" style="width: 200px; height: auto;" alt="" class="responsive-img valign profile-image-login">
                        </div>
                    </div>

                    {{#if responseMessage}}

                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel {{tipo}}">
                                <center>
                                    <span class="white-text">{{responseMessage}}
          </span> </center>
                            </div>
                        </div>
                    </div>


                    {{/if}}

                    <div class="row margin">
                       <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i> {{input type="email" value=userEmail}}
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i> {{input type="password" value=userPassword}}
                            <label>Password</label>
                        </div>
                    </div>
                    <!--  <div class="row">
                        <div class="input-field col s12 m12 l12  login-text">
                            <input type="checkbox" id="remember-me" />
                            <label for="remember-me">Remember me</label>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="input-field col s12">
                            {{md-btn-submit class="waves-effect light-blue darken-4 col s12" text='Login' isDisabled=isDisabled action='login'}}
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">Esqueceu a password ?</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>