 {{partial 'navbar'}}
 
 
<div class="container">



    <div class="row">
        <div class="col s12 m12 l12 ">
            <div class="card">
                <div class="card-image">
                    <img style="height: 150px;" src="http://www.vactualpapers.com/web/wallpapers/material-design-hd-wallpaper-no-0436/thumbnail/lg.png">
                </div>
                <div class="card-content">
                    <img style="width: 70px; position: absolute; top: 110px; z-index: 1;" src={{session.currentUser.profileImageURL}} alt="" class="circle responsive-img activator card-profile-image">


                    <span class="card-title text-darken-4"><h3> Profile </h3></span>


                    <table>

                        <tbody>
                            <tr>
                                <td>ID:</td>
                                <td>{{ session.uid }}</td>
                            </tr>
                            <tr>
                                <td>Nome:</td>
                                <td>{{model.Name}}</td>
                            </tr>
                            <tr>
                                <td>Nivel:</td>
                                <td>{{model.Level}}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{session.currentUser.email}}</td>
                            </tr>



                        </tbody>
                    </table>


                </div>
                <div class="card-action">
                    
                    <div class="row">
                        
                         
                {{#md-btn-dropdown text='Alterar' class='amber accent-4 right col s12 l2' }}
                
                        <li>{{#link-to 'detail-change' tagName="a"}}Detalhes de Perfil{{/link-to}}</li>
                        <li>{{#link-to 'email-change' tagName="a"}}Email{{/link-to}}</li>
                        <li>{{#link-to 'password-change' tagName="a"}}Password{{/link-to}}</li>
                 {{/md-btn-dropdown}}

                    <a class="waves-effect waves-light btn red col s12 l3" {{action "toggleModal"}}><i class="material-icons right">delete forever</i>Apagar a conta</a> 

{{!-- The Modal --}}
{{#if isModalShown}}
  {{#md-modal close='toggleModal'
              class="test-modal"}}

    {{!-- The body of the modal --}}
    <div class="modal-content">
      <h4>Confirmação da eliminação da conta</h4>
      
      <div class="row">
                        <div class="col s12">
                            <div class="card-panel yellow">
                                <center>
                                    <span class="black-text">Caso queira mesmo apagar insira a sua password em baixo !!!
          </span> </center>
                            </div>
                        </div>
                    </div>            
             <div class="input-field col s12">
                 {{input type="password" value=password class="validate"}}
          <label for="password">Password</label>
        </div>
            
    </div>

    {{!-- The actions at the bottom of the modal --}}
    <div class="modal-footer">

      {{!-- Modal's Agree Button --}}
      <a class="modal-action
                modal-close
                waves-effect
                waves-green
                btn-flat
                agree-button"
          {{action "apagar"}}>
        Apagar
      </a>

      {{!-- Modal's Cancel Button --}}
      <a class="modal-action
                modal-close
                waves-effect
                waves-green
                btn-flat
                cancel-button"
          {{action 'toggleModal'}}>
        Cancel
      </a>

    </div> {{!-- .modal-footer --}}
  {{/md-modal}}
{{/if}}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>