<div class="container">
  <div class="row">
<div class="col-sm-6 col-md-4 col-md-offset-4">
<h1 class="text-center login-title">Recuperação da password</h1>


{{#if responseMessage}}


<div class="alert alert-dismissible alert-{{tipo}}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{responseMessage}}</strong></div>

{{/if}}

<form {{action "doSomething" on="submit"}}>
  
    {{input type="text" class="form-control" value=email placeholder="Email"}} <br>
    <button type="submit" class="btn btn-lg btn-primary btn-block" {{action "recuperar"}} disabled={{isDisabled}}> Recuperar a password </button>
    {{#link-to 'login' class="btn btn-info btn-lg btn-block" action="voltar" tagName="button"}}Voltar{{/link-to}}
    
    {{log errors}}

</form>

</div>
</div>
</div>