<div class="container">
    <div class="row">
        <div id="login-page" class=" card">
            <div class="col s12 m12 l12 z-depth-6  card-panel hoverable">
                <form {{action "recuperar" on="submit" }}>
                    <div class="row">
                        <div class="input-field col s12 center">
                          <h3 class="login-title">Recuperação da password</h3>
                        </div>
                    </div>

                    {{#if responseMessage}}

                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel {{tipo}}">
                                <center>
                                    <span class="white-text">{{responseMessage}}
          </span> </center>
                            </div>
                        </div>
                    </div>


                    {{/if}}

                    <div class="row margin">
                       <div class="input-field col s12">
                            <i class="material-icons prefix">email</i> {{input type="email" value=email}}
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{md-btn-submit class="waves-effect light-blue darken-4 col s12" text='Recuperar a password' isDisabled=isDisabled action='recuperar'}}
                        </div>
                             <div class="input-field col s12">
                            {{#link-to 'login' class="waves-effect waves-light btn light-blue darken-4 col s12" action="voltar" tagName="a"}}Voltar{{/link-to}}
                        </div>
                    </div>
 </form>
                    </div>
            </div>
        </div>
    </div>
