 {{partial 'navbar'}}
{{log anothermodel.Name}}


<div class="table-responsive">
    <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <th>ID:</th>
                <th>Nome do utilizador:</th>
                <th>Nivel:</th>
                <th>Supervisor:</th>
                <th>Vizualizar detalhes:</th>
            </tr>
        </thead>
        <tbody>
            {{#each model as |employers|}}
            <tr>
                <th>{{employers.id}}</th>
                <td>{{employers.Name}}</td>
                <td>{{employers.Level}}</td>
                <td>
                    <ul>
                        
                        {{#if employers.Supervisor}}

                        <li> Sim </li>

                        {{else}}

                        <li> Não </li>

                        {{/if}}
                    </ul>
                </td>


                <td align="center"> {{#link-to 'users-ability' employers.id class="btn btn-default btn-sm btn-block" tagName="button"}}Vizualizar{{/link-to}} </td>
            </tr>

            {{/each}}
        </tbody>

    </table>
</div>