 {{partial 'navbar'}}

<div class="container">

    <div class="row">
        <div class="col s12 m12 l12 ">
            <br>
            <br>
            <div class="card z-depth-1">
                <div class="card-content ">
                    <span class="card-title "><h3> RIT nº{{model1.id}} </h3>
                    {{log model1.id}}
                    </span>

                    <div class="row">
                        <div class="col s12">
                            <div class="col s12">
                                <h5>Dados :</h5> {{#if editar}}
                                <div class="col s12 m6">

                                    <div class="col s6">
                                        NIF: {{md-input value=model1.NIF}} Solicitante: {{md-input value=model1.Solicitante}}
                                    </div>
                                    <div class="col s6">
                                        Cliente: {{md-input value=model1.Cliente}} Telemovel: {{md-input value=model1.Telemovel}}
                                    </div>
                                    <div class="col s12">
                                        Morada: {{md-input value=model1.Morada}}
                                    </div>
                                    <div class="col s12">
                                        Localidade: {{md-input value=model1.Localidade}}
                                    </div>
                                </div>
                                {{else}}
                                <div class="col s6">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>NIF:</td>
                                                <td>{{model1.NIF}} </td>
                                                <td>Solicitante:</td>
                                                <td>{{model1.Solicitante}}</td>
                                            </tr>
                                            <tr>
                                                <td>Cliente:</td>
                                                <td>{{model1.Cliente}}</td>
                                                <td>Telemovel:</td>
                                                <td>{{model1.Telemovel}}</td>
                                            </tr>
                                            <tr>
                                                <td>Morada:</td>
                                                <td>{{model1.Morada}}</td>
                                            </tr>
                                            <tr>
                                                <td>Localidade:</td>
                                                <td>{{model1.Localidade}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{/if}} {{#if editar}}

                                <div class="col s12 m6">
                                    <div class="row">
                                        <div class="col s12">
                                            {{md-switch checked=model1.Análise onLabel="Sim" offLabel="Não" name="Análise:"}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            {{md-switch checked=model1.Manutenção onLabel="Sim" offLabel="Não" name="Manutenção"}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            {{md-switch checked=model1.Orçamento onLabel="Sim" offLabel="Não" name="Orçamento"}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            {{md-switch checked=model1.Software onLabel="Sim" offLabel="Não" name=" Anomalia Software:"}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">
                                            {{md-switch checked=model1.Instalação onLabel="Sim" offLabel="Não" name="Instalação:"}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            {{md-switch checked=model1.Hardware onLabel="Sim" offLabel="Não" name="Anomalia Hardware:"}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            {{md-switch checked=model1.Formação onLabel="Sim" offLabel="Não" name="Formação"}}
                                        </div>
                                    </div>
                                </div>
                                {{else}}
                                <div class="col s6">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>Análise:</td>
                                                {{#if model1.Análise}}
                                                <td>Sim</td>
                                                {{else}}
                                                <td>Não</td>
                                                {{/if}}
                                                <td>Manutenção:</td>
                                                {{#if model1.Manutenção}}
                                                <td>Sim</td>
                                                {{else}}
                                                <td>Não</td>
                                                {{/if}}
                                            </tr>
                                            <tr>
                                                <td>Orçamento:</td>
                                                {{#if model1.Orçamento}}
                                                <td>Sim</td>
                                                {{else}}
                                                <td>Não</td>
                                                {{/if}}
                                                <td>Anomalia Software:</td>
                                                {{#if model1.Software}}
                                                <td>Sim</td>
                                                {{else}}
                                                <td>Não</td>
                                                {{/if}}
                                            </tr>
                                            <tr>
                                                <td>Instalação:</td>
                                                {{#if model1.Instalação}}
                                                <td>Sim</td>
                                                {{else}}
                                                <td>Não</td>
                                                {{/if}}
                                                <td>Anomalia Hardware:</td>
                                                {{#if model1.Hardware}}
                                                <td>Sim</td>
                                                {{else}}
                                                <td>Não</td>
                                                {{/if}}
                                            </tr>
                                            <tr>
                                                <td>Formação:</td>
                                                {{#if model1.Formação}}
                                                <td>Sim</td>
                                                {{else}}
                                                <td>Não</td>
                                                {{/if}}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{/if}}

                            </div>
                            {{#if editar}}

                            <div class="col s12">
                                <h5>Detalhes do RIT Nº {{model1.id}} :</h5>
                                <div class="row">
                                    <div class="col s12">
                                        {{md-textarea value=model1.descrição class="col s12"}}
                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <div class="row">
                                <div class="col s12">
                                    <div class="col s6">
                                        <h5>Descrição de incidência :</h5> {{#if editar}} g {{else}} {{model1.descrição}} {{/if}}
                                    </div>
                                    <div class="col s6">
                                        <h5>Historico de atualizações :</h5>
                                        {{#each model2 as |update|}}
                                        {{update.name}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>


                            {{/if}} {{#if editar}}

                            <div class="row">
                                <div class="col s12">
                                    <div class="col s12">
                                        <h5>Estado do ticket :</h5>
                                        <div class="col s12">
                                            <div class="row">
                                                <div class="col s6 left">
                                                    <div class="row">

                                                        {{#md-radios selection=model1.estado optionValuePath='id' optionLabelPath='text'}}
                                                        <p>{{md-radio value='Pendente' name="Pendente"}}</p>
                                                        <p>{{md-radio value='Em Progresso' name="Em progresso"}}</p>
                                                        {{#if (eq model1.nivel '1')}}
                                                        <p>{{md-radio value='Escalar N2 (Pendente)' name="Escalar N2 (Pendente)"}}</p>
                                                        {{/if}}
                                                        <p>{{md-radio value='Resolvido' name="Resolvido"}}</p>
                                                        {{/md-radios}}

                                                    </div>
                                                </div>



                                                <div class="col s6 right">

                                                    <br>

                                                    <div class="col s6">
                                                        <a class="btn waves-effect waves-light red right" {{action 'cancelar'}}><i class="material-icons right">cancel</i>Cancelar</a>
                                                    </div>

                                                    <div class="col s6">
                                                        <a class="btn waves-effect waves-light green" {{action 'salvar'}}><i class="material-icons right">save</i>Guardar</a>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{else}}


                            <div class="col s12">
                                <a class="btn waves-effect waves-light yellow accent-4 black-text right-align right" {{action 'editar'}}><i class="material-icons right">edit</i>Editar</a>
                            </div>


                            {{/if}}

                        </div>
                    </div>
                </div>

                <div class="card-action">

                    {{#link-to 'tikets' class="btn waves-effect waves-light light-blue darken-4"}}<i class="material-icons left">arrow_back</i>Voltar atras{{/link-to}}

                    <div class="chip right">
                        Nivel: {{model1.nivel}} | Data: {{model1.dateValue}} | Hora: {{model1.hora}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>